<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for npc in npcs %}
    <ul>
        <li>
            <strong>{{npc.name}}</strong>
            <br></br>
            {{npc.hit_points}}
            <button>
                <a href="/hpup1/{{post.id}}">hp</a>
            </button>
            <button>
                <a href="/hpup10/{{post.id}}">hp up 10</a>
            </button>
            <button>
                <a href="/hp_down_1/{{post.id}}">hp down 1</a>
            </button>
            <button>
                <a href="/hp_down_10/{{post.id}}">hp down 10</a>
            </button>

        </li>
    </ul>
    {% endfor %}
</body>
</html>