<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for npc in npcs %}
    <ul>
        <li>
            <strong>Name: </strong>{{npc.name}}
            <br></br>
            <strong>HP: </strong>{{npc.hit_points}}
            <br></br>
            <button>
                <a href="/hp_up_1/{{npc.id}}">hp</a>
            </button>
            <button>
                <a href="/hp_up_10/{{npc.id}}">hp up 10</a>
            </button>
            <button>
                <a href="/hp_down_1/{{npc.id}}">hp down 1</a>
            </button>
            <button>
                <a href="/hp_down_10/{{npc.id}}">hp down 10</a>
            </button>
            <br></br>
            <strong>AC: </strong>{{npc.armor_class}}
            <br></br>
            <strong>Resistances: </strong>{{npc.resistances}}
            <br></br>
            <strong>Immunities: </strong>{{npc.immunities}}
            <br></br>
            <strong>Speed: </strong>{{npc.speed}}
        </li>
    </ul>
    {% endfor %}
</body>
</html>